<div class="app">
  <div class="container">
  <h3><i class="fa fa-cog fa-fw"></i> Global Settings</h3>
    <div class="row">
      <div class="col-md-12">
        <nav style="margin-top: 3rem; margin-bottom: 3rem;">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"
                ng-repeat="page in $ctrl.pages" 
                ng-class="{active: $ctrl.activePage === page.id}">
              <a ui-sref="{{page.sref}}" 
                 aria-controls="{{page.sref}}" 
                 role="tab" 
                 data-toggle="tab" 
                 ng-click="$ctrl.setActivePage(page)">
                <i class="fa fa-fw {{page.icon}}"></i> {{page.name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="siteInfo" ui-view></div>
  </div>