@import '~bootstrap/less/bootstrap';



@darkBgColor:    #263238;
@lightBgColor:   #37474f;
@lightTextColor: #f5f5f5;
@darkTextColor:  #212121;

@bgColor:        #FBFBFB;
@link-color:      #40D5DA;
@brand-primary: #16B4B8;
@well-bg: #fafafa;
@text-color: #555E65;